
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-image:url('../img/footer.png') !important;
  font-family: 'Josefin Sans', sans-serif;
  text-align: justify;
  box-sizing: border-box;
  }

  #footerlogo {
      margin-left: 50px;
  }
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.fab fa-facebook{
    
    margin-top: 20px;
    margin-left: 30px;
}




/*---Media Queries --*/
@media (max-width: 960px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



/* Coolors

https://coolors.co/001011-ffb60a-613dc1-009fb7-20063b

#001011   (Negro, mas o menos)
#FFB60A    (amarillo)
#613DC1     (purpura)
#009FB7     (turquesa)
#20063B     (berenja purpura, oscuro)




