@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html body {
    margin: 0;
    min-height: 100%;
    font-family: 'Josefin Sans', sans-serif !important;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
          
  }


  
  .navbar {
    
    padding-bottom: 2rem;    
    width: 100%;
    height: 110px;
    padding-right: 0px;
    padding-left: 0px;
    background-color:#20063B;   
    margin-bottom: 0 !important;
    }

 

    #img-logo:hover {
    opacity: .80;
    color: #b4b4b4;
  }
  
  a.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    color: #3DA5D9 !important;
    font-size: 22px;
    font-weight: bold;
  }
  
  a.nav-link:hover {
    opacity: .80;
    color: #FFB60A !important;
  }
  
  .nav-link.login {
    font-family: 'Josefin Sans', sans-serif;
    color: #3DA5D9 !important;
    font-size: 22px;
    margin-bottom: 30px;
    
  }
  
  .nav-link.login:hover {
    opacity: .80;
    color: #FFB60A !important;
  }
  

  h2 {
    padding: 48px 0 px 0 px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }


.container-fluid{
  
    padding-right: 0px;
    padding-left: 0px;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    width:100%;
    height: 100%;
    
  

}

#navbarSupportedContent{
    font-family: 'Josefin Sans', sans-serif !important;

}

#detailbuttons {
  font-size: larger;
  background-color: #20063B;
  color: white;
  font-family: 'Josefin Sans', sans-serif !important;
  text-shadow: #20063B 1px 0 10px;
}


#detailbuttons:hover {
 
  background-color: #613DC1;  
 
}

#buttons {
  font-size: larger;
  background-color: #3DA5D9;
  color: white;
  font-family: 'Josefin Sans', sans-serif !important;
  text-shadow: #20063B 1px 0 10px;
}


#buttons:hover {
 
  background-color: #613DC1;  
}

/*Aquí dispuse nuestros mismos css que tenidamos en nuestra clase 3, lo realice sólo para que vean que podemos sin ningún problema, combinar como deseemos nuestros conocimientos de maquetación ahora con Bootstrap*/
article img{
    width: 100%;
    opacity: 1;
}

article img:hover{
    opacity: 0.8;
}
p
{
    text-align: justify;
}


.descuento{
    right: 15px;
    top: 20px;
    position: absolute;
    width: 20%;
}

.descripcion{
    min-height: 10vh;
    font-family: 'Josefin Sans', sans-serif !important;
}


/* Coolors

https://coolors.co/001011-ffb60a-613dc1-009fb7-20063b

#001011   (Negro, mas o menos)
#FFB60A    (amarillo)
#613DC1     (purpura)
#3DA5D9    (turquesa)
#20063B     (berenja purpura, oscuro)
*/

