html,body {
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color:  #fdfffc;
  }
  
  .navbar {
    background-color:#20063B;
    padding-bottom: 5px;
    width: 100%;
    height: 150px;
    padding-right: 0px;
    padding-left: 0px;
    }
  

    #img-logo:hover {
    opacity: .80;
    color: #b4b4b4;
  }
  
  .nav-link.pages {
    font-family: 'Josefin Sans', sans-serif;
    color: #009FB7 !important;
    font-size: 32px;
  }
  
  .nav-link.pages:hover {
    opacity: .80;
    color: #FFB60A !important;
  }
  
  .nav-link.login {
    font-family: 'Josefin Sans', sans-serif;
    color: #009FB7 !important;
    font-size: 32px;
    margin-bottom: 30px;
    padding-top: 3rem;
  }
  
  .nav-link.login:hover {
    opacity: .80;
    color: #FFB60A !important;
  }
  