
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;

}



.navbar {
    background-color:#20063B;
    padding-bottom: 5px;
    width: 100%;
    height: 100px;
    }
  
  .navbar-brand.navlogo {
    height: auto;
  }
  
  .navbar-brand.navlogo:hover {
    opacity: .80;
    color: #b4b4b4;
  }
  
  .nav-link.pages {
    font-family: 'Josefin Sans', sans-serif;
    color: #009FB7 !important;
    font-size: 28px;
  }
  
  .nav-link.pages:hover {
    opacity: .80;
    color: #FFB60A !important;
  }
  
  .nav-link.login {
    font-family: 'Josefin Sans', sans-serif;
    color: #009FB7 !important;
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .nav-link.login:hover {
    opacity: .80;
    color: #FFB60A !important;
  }
  


/* Product Container */

.container {
    width:100%;
    height: 100%;
    border-style: solid; 
    border-width: 3px; 
    border-color:#613DC1;
    margin:50px 50px 50px 50px;
    
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}

#product1 div {

    padding-left: 2rem;
    padding-top: 100px;
    padding-bottom: 100px;  
    padding-right: 100px;
   
}

#classic {    
    float: left;
    border-radius: 5px;
    border: solid 10px #20063B  ;  
    height: 350px;    
    width: 350px;
    
    
}

/*
#classic:hover {
add a popping effect?
}  */

#description {
  padding-top: 10vh;
  size: 40px;
  font-weight: bold;
  margin-top: 75px;
  float: right;
  width: 50%;
  height: 100%;
}

#compra {
  font-size: larger;
  background-color: #613DC1 ;
  color: white;
  font-family: 'Permanent Marker', cursive;
  text-shadow: #20063B 1px 0 10px;
}


#compra:hover {
  background-color: #20063B;  
}


/* Footer */

#footer1 {
  width: cover;
  background-image:url('../img/footer.png');
  background-size: cover;
  color: #FFB60A;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 2rem;
  font-size: 18px !important;
  
}

#footerlogo {
  height: 150px;
  
}

#contact {
 margin-left: 800px;
 text-align: center;
}

#contactinfo1 {
  font-size: larger;
}

#contactinfo2 {
  font-size: larger;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.exampleInputEmail1 {
  margin-right: 700px;
}

.nombre {
  margin-left: 700px;
}




/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/



/* Coolors

https://coolors.co/001011-ffb60a-613dc1-009fb7-20063b

#001011   (Negro, mas o menos)
#FFB60A    (amarillo)
#613DC1     (purpura)
#009FB7     (turquesa)
#20063B     (berenja purpura, oscuro)
*/




