<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mafci Chocolate Artesanal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/index.css" rel="stylesheet">
	
</head>

<body>
<!--Barra de navegación-->
    
    <nav id="navbar" class="navbar navbar-expand-md navbar-dark sticky-top" >
		<a class="navbar-brand navlogo" href="/"><img src="img/logo.png" ></a>
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          		<span class="navbar-toggler-icon"><i class=”fas fa-bars hamburger”></i></span>
        	</button>      
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link pages" href="/">inicio </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pages" href="/nosotros">nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pages" href="/productos">productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pages" href="/contacto">contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pages" href="/administrar">administrar</a>
            </li>
		  </ul>
		  
          <ul class="my-2 my-lg-0 navbar-nav">
            <li class="nav-item">
              <a class="nav-link login" href="/login">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link login" href="/registro">registro</a>
			</li>
			<li class="nav-item">
				<a class="nav-link login" href="/productCart"><i class="fa fa-shopping-cart" style="font-size:36px"></i>  </a>
			</li>
          </ul>
        </div>
	</nav>  
	

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
	<li data-target="#slides" data-slide-to="0" class="active"></li>
	<li data-target="#slides" data-slide-to="1"></li>
	<li data-target="#slides" data-slide-to="2"></li>
</ul>
<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="img/car.png">
		<div class="carousel-caption">
			<h1 class="display-2">chocolate que te lleva</h1>
			<button type="button" id="compra" class="btn btn-primary btn-lg">comprá</button>
		</div>
	</div>
	<div class="carousel-item">
		<img src="img/car2.png">
	</div>
	<div class="carousel-item">
		<img src="img/car3.png">
	</div>
</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
	<div class="row Jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead origen">Nuestro chocolate proviene de sus orígenes nativos, los bosques de Ecuador y Perú. Está hecho de cacao 100% orgánico, recogido a mano por los agricultores. El proceso de fermentación se realiza durante cuatro días y los granos tostados se recogen con cuidado. ¡Degustarás el aroma del bosque en cada bocado! </p>		
		</div>
	</div>
</div>

<!--- Welcome Section -->
<div class="container padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Chocolate fino como nunca probaste antes.</h1>
			<hr>
			<div class="col-12">
				<p class="lead">Probá una nueva variedad de chocolate hoy. Chocolate oscuro con menta, almendras o trufas con whisky. ¿Qué vas a elegir?</p>
			</div>
		</div>
	</div>
	<hr class="my-4">
	<br>
</div>


<!--- Three Column Section -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<img src="img/leaficon.png" id="leaficon">
			<h3 id="headingthree">Origen único.</h3>
			<p id="comment"> Nuestro cacao es de los bosques de Ecuador y Peru.</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<img src="img/leaficon.png" id="leaficon">
			<h3  id="headingthree"> Proceso único.</h3>
			<p id="comment">Nuestro chocolate está hecho en pequeños lotes, utilizando un equipo mínimo. ¡Entre y vea nuestra fábrica en cualquier momento!</p>
		</div>
	
		<div class="col-sm-12 col-md-4">
			<img src="img/leaficon.png" id="leaficon">
			<h3  id="headingthree">Sabor único.</h3>
			<p id="comment"> Nuestro chocolate ofrece un perfil de sabor único, una aventura de los sentidos.</p>
		</div>
	</div>
	<hr class="my-4">
</div>

<hr class="my-4">

<!--- Fixed background -->
<figure>
	<div class="fixed-wrap">
		<div id="fixed">
		</div>
	</div>
</figure>

 <!--- Cards -->
<div id="producto" class="container-fluid padding">
	<div class="row">
		<div class="col-md-4">
			<div class="borde">
				<div class="card-body">
					<img class="card-img-top" src="img/prod1.png" class="img-rounded" alt="Chocolate Oscuro con Frambuesas">
					<div class="card-body">
						<h4 class="card-title">Chocolate Oscuro "The Classic"</h4>
						<p class="card-text">$250</p>
						<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
					</div> <!--Make this href go to product page of The Classic-->
				</div>
			</div>
		</div>
	
		<div class="col-md-4">
			<div class="borde">
				<div class="card-body">
					<img class="card-img-top" src="img/prod2.png" class="img-rounded" alt="Chocolate de Macadamia">
					<div class="card-body">
						<h4 class="card-title">Chocolate de Macadamia </h4>
						<p class="card-text">$250</p>
						<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="borde">
				<div class="card-body">
					<img class="card-img-top" src="img/prod3.png" class="img-rounded" alt="Chocolate Menta">
					<div class="card-body">
						<h4 class="card-title">Chocolate Oscuro con Menta</h4>
						<p class="card-text">$250</p>
						<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
					</div>
				</div>
			</div>
		</div>	
	</div>		
		
	<div class="row">
		<div class="col-md-4">
			<div class="borde">
				<div class="card-body">
					<img class="card-img-top" src="img/prod4.png" class="img-rounded" alt="Chocolate Oscuro con Almendras">
					<div class="card-body">
						<h4 class="card-title">Chocolate Caliente "Jungla"</h4>
						<p class="card-text">$250</p>
						<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="borde">
				<div class="card-body">
					<img class="card-img-top" src="img/prod5.png" class="img-rounded" alt="Chocolate con Frambuesas">
					<div class="card-body">
						<h4 class="card-title">Chocolate con Frambuesas</h4>
						<p class="card-text">$250</p>
						<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="borde">
				<div class="card-body">
					<img class="card-img-top" src="img/prod6.png" class="img-rounded" alt="Trufas Whisky">
					<div class="card-body">
						<h4 class="card-title">Trufas Whisky</h4>
						<p class="card-text">$250</p>
						<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Visit Section-->	
	<div id="visitsection" class="container-fluid padding" class="col-sm-12 col-md-6 col-lg-4">
		<div class="row">
      		<section id="fabricabox" class="card-body" class="col-sm-12 col-md-6 col-lg-4">
				<img src="img/fabrica.png" id="fabrica">    
      		</section>
        	<section class="card-body" id="veni" class="col-sm-12 col-md-6 col-lg-4">
				<h1> ¡Vení a visitar la fábrica de chocolate! </h2>
				<h2>Av. Lobos 1234, Belgrano, CABA.</h4>	
       		 </section>
     	 </div> 
	</div>  

<!--- Footer -->
<footer>
	<footer class="row" id="footer1">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-md-4">
					<img id="footerlogo" src="img/logo.png">
				</div>

				<div id="contactinfo1" class="col-md-4">
					<hr class="light">
					<p>mafcichocolate@yemail.com</p>
					<p>Av. Lobos 1234, Belgrano, CABA.</p>
					<p>1111 222 3344</p>
				</div>

				<div id="contactinfo2"class="col-md-4">				
					<h2>¡Conectá!</h2>
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>

				<div class="col-12">
				<hr class="light">
				<h5>&copy; Mafci Chocolate</h5>
				</div>
			</div>
		</div>

	<article id="contact" class="col-12 col-md-6 pl-4">
			  <h2 >Contactános</h2>
			  <form  action="#" method="POST">
				<div class="form-group">
					  <label for="exampleInputEmail1">email address</label>
					  <input type="email" class="form-control-md" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					  <label for="nombre">nombre acá  </label>
					  <input type="text" class="form-control-md" id="nombre">
				</div>
			</form> 
	  </article>	
	</footer>
</footer>
</body>
</html>






