<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/master.css">
        <link rel="stylesheet" href="/css/verifyRole.css">
        <title>Mafci Chocolate Artesanal</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light fixed-top miNavBar" style="margin: auto" >
        <a class="navbar-brand navlogo" id="img-logo" href="/"><img src="img/logo.png" width="90px" height="60px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
              <a class="nav-link " href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nosotros">Contacto</a>
            </li>
          <% if(locals.usuario) { %>  
            <li class="nav-item">
                <a class="nav-link" href="/administrar">Administrar</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/umanagers/<%=locals.usuario.email %>">Gestion de Usuarios</a>
          </li>
          <% } %> 
          </ul>
          <ul class="my-2 my-lg-0 navbar-nav">
          <% if(locals.usuario) { %>  
            
            <li class="nav-item">
              <img src="/images/users/<%=locals.usuario.avatar %>"    width = '100' height='100' style= 'border-radius: 150%;'alt="">
            </li>
            <li class="nav-item">
              <p class="nav-link ">Bienvenido  <%=locals.usuario.nombre %> <%=locals.usuario.apellido %> </p>
              <br><br>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/carrito"><ion-icon name="cart-outline"></ion-icon></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon></a>
            </li>
       
          <% } else { %>  
      
            <!--Cuando no estoy logueado debería ver esto-->
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro">Registro</a>
            </li>
          <%}%>  
          </ul>
        </div>
      </nav>  
      
    <div>
        <article class="col-12" style="margin-top: 150px">
            <h2 class="display-4 text-white bg-info text-center pt-5">No sos un administrator!</h2>
            <button type="button" href="/"  class="btn btn-warning">Volver inicio</button> <!--option to go back to homepage-->
          </article>
    </div>
    <figure style="text-align:center">
        <img src="/img/fabrica.png" href="/" alt="Go to Home">
    </figure>
</body>
</html>