<!DOCTYPE html>
<html lang="en">

  <%- include('/partials/head.ejs') %> 

  <body>
  
  <%- include('/partials/navBar.ejs') %>

    <h1>Crear Producto</h1>
    <form class="" action="/products" method="post">
      <div class="form-group">

        
        <label>id</label>
        <input class="form-control" type="text" name="ident">
        <label>name</label>
        <input class="form-control" type="text" name="name">
        <label>description</label>
        <textarea class="form-control" name="description" rows="5" cols="30"></textarea>
        <label>price</label>
        <input class="form-control" type="text" name="price">
        <label>image</label>
        <input class="form-control" type="text" name="image">
        <label>thematic</label>
        <input class="form-control" type="text" name="thematic">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Guardar</button>
    </form>
 
    <%- include('/partials/footer.ejs') %>
  
  </body>
</html>
