<footer>
<article class="col-12 pt-2" style="width: cover">
    <h5 class ="text-white text-center bg-info p-2 " style="padding-bottom: 1rem">&#169 Mafci Chocolate Artesanal</h5>

  </article>
</footer>
