<footer>
  <div class="footer-padding"></div>
    <div class="footer">
      <div id="img-footer" class="container-fluid mr-0 ml-0"></div>
      <div id="contact2" class="row">
              <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                <img id="footerlogo" src="/img/logo.png"style="width:160px;height:128px;" id="imglogo">
              </div>
        
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">     
                <p>mafcichocolate@yemail.com</p>
                <p>Av. Lobos 1234, Belgrano, CABA.</p>
                <p>1111 222 3344</p> 
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a> 
            </div>
   
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <h2 >Contactános</h2>
                <form  action="#" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre y apellido</label>
                    <input type="text" class="form-control" id="nombre">
                  </div>
                    <button type="submit" class="btn btn-primary">Enviar la consulta</button>
                </form> 
          </div>
      </div> 
    </div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="/js/master.js"></script>
</footer>

