<footer>
<article class="col-12 pt-2" style="padding-top: 1rem; padding-bottom: 1rem; width: cover">
    <h5 class ="text-white text-center bg-info p-2 ">&#169 Mafci Chocolate Artesanal</h5>
        
  </article>
</footer>
