  <!--- Footer -->

		  <footer>
			  <div class="main-content"  class="col-12 col-md-6 col-lg-3">
  
				 <!--Left Box--> 
				  <div class="left box" class="col-12 col-md-6 col-lg-3">
				   <div class="content">
					  <article><img src="img/logo.png" alt="Mafci Chocolate" style="width:160px;height:128px;" id="imglogo"></article> 
					 
				   </div>
				  </div>
  
				   <!--Center Box--> 
				  <div class="center box" class="col-12 col-md-6 col-lg-3">
					   <h2>Visitanos</h2>
					  <div class="content">    
					  <p>Av. Lobos 1234, Belgrano, CABA.</p>
					  <p>1111 222 3344</p> 
					  <p>mafcichocolate@yemail.com</p>
					  </div>
				  </div> 
				 
				  <!--Right Box-->
				  <div class="right box" class="col-12 col-md-6 col-lg-3">
					   <h2 >Contactanos</h2>
					  <div class="content">
						  <form  action="#" method="POST">
							  <div class="form-group">
									<label for="exampleInputEmail1">email address</label>
									<input type="email" class="form-control-md" id="exampleInputEmail1" aria-describedby="emailHelp">
							  </div>
							  <div class="form-group">
									<label for="nombre">nombre acá  </label>
									<input type="text" class="form-control-md" id="nombre">
							  </div>
						  </form> 
						  <div class="social">
							  <a href="#"><span class="fab fa-facebook" id="soc"></span></a>
							  <a href="#"><span class="fab fa-instagram" id="soc"></span></a> 
						  </div>
					  </div>
				  </div>
  
			  </div>
		  </footer>
	 
  