<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mafci Chocolate Artesanal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="css/index.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">
	<link href="css/footer.css" rel="stylesheet">
	<link href="css/create.css" rel="stylesheet">
	<link href="css/cart.css" rel="stylesheet">
	<link href="css/detail.css" rel="stylesheet">  

	<!--Yo se que mis stylesheets son un lio pero por ahora no tengo tiempo para arreglar un sheet que funciona por todas las paginas-->
	
</head>