<!DOCTYPE html>
<html lang="en">

<%- include('/partials/head.ejs') %> 

<body>

<%- include('/partials/navBar.ejs') %>
  
<!--Product Details-->

  <div class="container" class="col-sm-12 col-md-6 col-lg-4">
		<div class="row">
      		<section class="card-body" id="product1" class="col-sm-12 col-md-6 col-lg-4">
		  		<img src="img/prod1.png" id="classic">      
      		</section>
       		 <section class="card-body" id="description" class="col-sm-12 col-md-6 col-lg-4">
         		 <h2><b>Chocolate Oscuro "The Classic"</b></h2>
         		 <h3>$250</h3>
         		 <p>Aquí está el mejor chocolate oscuro que jamás vos probarás en tu vida. Notas de frambuesa, Malbec de Mendoza, leña de Colorado y manzanas verdes tentarán sus papilas gustativas. 
           		 <br> <br> La vida se completa después de "The Classic". </p>
          		<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
       		 </section>
      	</div>
	</div>

	<%- include('/partials/footer.ejs') %> 


</body>
</html>