<!doctype html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <div class="container-fluid">
      <%- include('../partials/navBar') %>  

        <section class="row">
          <article class="col-12  card pt-5" >
                  <div class="card-body">
                    <h1 class="card-title text-center" style="margin-top: 75px">crear un producto</h1>
                  </div>
          </article>
      </section>

        <section class="bg-home pt-4">
            <div class="container">
                <div class="row" >
                    <div class="col-8 mx-auto bg-light ">
                        <div class="create-form">
                            <form action="/administrar/create" method="POST" enctype="multipart/form-data" >
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Nombre del producto" required="required" value="">
                                </div>	
                                <div class="form-group">
                                    <input type="text" class="form-control" name="description" placeholder="Descripción del producto" required="required" value="">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="price" placeholder="Indique el precio" required="required" value="">
                                </div>
                                <div class="form-group">
                                    <select  name="discount" class="custom-select" id="validationCustom04" required>
                                      <option selected disabled value="#">Elija su descuento</option>
                                      <option value="0">Sin descuento</option>
                                      <option value="15">15%</option>
                                      <option value="30">30%</option>
                                    </select>
                                </div>
                                <!--Aquí solicito la imagen-->
                                <div class="custom-file">
                                  
                                  <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                                  <input type="file" name="imagen" >
                                  <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                                  <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-info">guardar</button>
                                    <a href="/administrar" class="btn btn-danger">volver</a>
                                </div>
                                
                            </form>
                    </div>                        
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <%- include('../partials/footer') %>        <!-- Scripts para Bootstrap -->
</body>
</html>