<!DOCTYPE html>
<html lang="en">

	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mafci Chocolate Artesanal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link href="css/productDetalle.css" rel="stylesheet">
        
    </head>
    <body>
		<main class="container-fluid">

		<%- include('../partials/navBar.ejs') %>  
    
<!--Product Details-->

  <div class="container" class="col-sm-12 col-md-6 col-lg-4">
		<div class="row">
      		<section class="card-body" id="product1" class="col-sm-12 col-md-6 col-lg-4">
		  		<img src="img/prod1.png" id="classic">      
      		</section>
       		 <section class="card-body" id="description" class="col-sm-12 col-md-6 col-lg-4">
         		 <h2><b>Chocolate Oscuro "The Classic"</b></h2>
         		 <h3>$250</h3>
         		 <p>Aquí está el mejor chocolate oscuro que jamás vos probarás en tu vida. Notas de frambuesa, Malbec de Mendoza, leña de Colorado y manzanas verdes tentarán sus papilas gustativas. 
           		 <br> <br> La vida se completa después de "The Classic". </p>
          		<a href="#" id="compraCard" class="btn btn-outline-secondary">Comprá</a>
       		 </section>
      	</div>
	</div>

  <!--- Footer -->
  <footer>
	<footer class="row" id="footer1">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-md-4">
					<img id="footerlogo" src="img/logo.png">
				</div>

				<div id="contactinfo1" class="col-md-4">
					<hr class="light">
					<p>mafcichocolate@yemail.com</p>
					<p>Av. Lobos 1234, Belgrano, CABA.</p>
					<p>1111 222 3344</p>
				</div>

				<div id="contactinfo2"class="col-md-4">				
					<h2>¡Conectá!</h2>
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
				</div>

				<div class="col-12">
				<hr class="light">
				<h5>&copy; Mafci Chocolate</h5>
				</div>
			</div>
		</div>

	<article id="contact" class="col-12 col-md-6 pl-4">
			  <h2 >Contactános</h2>
			  <form  action="#" method="POST">
				<div class="form-group">
					  <label for="exampleInputEmail1">email address</label>
					  <input type="email" class="form-control-md" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					  <label for="nombre">nombre acá  </label>
					  <input type="text" class="form-control-md" id="nombre">
				</div>
			</form> 
	  </article>	
	</footer>
</footer>


</body>
</html>