/* Footer */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');

/* Footer */

 #img-footer {
    background-image:url('../img/footer.png');
    min-height: 40vh;
  }
  
  #footerlogo {
    height: 150px;
  }
  
 #contact2 {
    color: #FFB60A;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 2rem;
    font-size: 18px !important;
    text-align: auto;
  }

  .footerlogo {
    height: 150px !important;
    
  }
  